{% extends "base.html" %}
{% load static %}



{% block title %} {{ title }} {% endblock %}





{% block body %}
  {% if searched %}
    <h1 class = "button large"  >
      You Searched for: {{ searched }}
    </h1>
  
    <h3 class = "secondary button">
      Click on a farm to see it's own unique page
    </h3>
  </br>
  {% for farm in location_search %}
  <div class = "card">
    <div class = "card-header" style = "font-size: 2vw;">

      <a href = "{% url 'single-farm' farm.id %}"{{ farm }}>
    </div>
    <div class = "card-body">
      <h4><strong>Farm: </strong>  {{ farm.location_name }}</h1>
    </a>
      <h5 class = "card-title">
              <strong>Location:</strong> {{ farm.location_name }}
              <br/>
              <strong>Notes: </strong> {{ farm.location_description }}<br/>

        </h1>
        </div>
  </div>
  {% endfor %}

  {% else %}
    <h1>
      <center>
      <div class = "alert button">
        <h3>YOU FORGOT TO SEARCH SOMETHING...</h3>
      </div>
      </center>
      <center>
      <div class = "button">
      <h4 >Enter Either: </h4></br>
        
          <li style = "font-size: 1.3vw; margin-right:1.6vw;">Cow Tag</li>
      </br>
          <li style = "font-size: 1.3vw;">Farm Location</li>
          </div>
          </center>
        
        
        
    </h1>
       
       </div>
       </div>


  {% endif %}


{% endblock %}


{% block footer %}


{% endblock %}








{% block css %}
<style>
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 2px;
    transition: transform .2s;
    margin: 0 auto;
  }
  .row {
    clear: both;
    display: table;
  }
  .xa {
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;

    text-transform: uppercase;
    margin: 20px;
  }
  .za {
    font-size: 2vw;
    font-family:cursive;
    text-transform: uppercase;
  }
  body {
  font-family: sans-serif;
  background:#75777c;
}

    .column:hover {
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.05); 
    }


  .footer-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }


  .footer-box a span {
    position: absolute;
    display: block;
  }

  .footer-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 2s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }

    
  }


#navbar {
  overflow: hidden;
  background-color:whitesmoke
}

#navbar a {

  padding: 14px 16px;

}




.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

 
  </style>
{% endblock %}


{% block loginpage %}
<p>log in here</p>
{% endblock %}