{% extends "base.html" %}
{% load static %}



{% block title %} {{ title }} {% endblock %}





{% block body %}


  

  <div class = "cardtop">
    <div class = "card-body">
      <center>
      {% if user.is_staff %}
      <a href = "{% url 'update-farm' farm.id %}" class = "button">
      UPDATE Farm: {{ farm.location_name }}</a>
    {% endif %}
  
      <h5 class = "card-title">
              <strong>Description: </strong> {{ farm.location_description }}<br>
              

</h5></center>


</div>
</div>

          <div class ="row">
              {% for cow in cowlist reversed %} 
              <div class = "column">
              <div class = "card">
                <div class = "card-header" style = "font-size: 2vw;">

      
                </div>
                <div class = "card-body">
            
                  <h4><strong>Cow  </strong> <a href = "{% url 'single-cow' cow.id %}">{{ cow.cow_tag }}</h4>
                </a>
                  <h5 class = "card-title">
                        
                          <strong>Sex:</strong>  {{ cow.cow_sex }}
                          <br/>
                          <strong>Notes:</strong> {{ cow.cow_notes }}
                          <br/>
                          {% if user.is_staff %}
                          <a href = "{% url 'update-cow' cow.id %}" class = "button">
                            UPDATE</a>
                          {% endif %}                          
            

              </div>
              
            </div>
            
</div> 
              {% endfor %}
              




{% endblock %}


{% block footer %}
<div class="footer-box">
  <form>
    <a style = "margin-left: 13vw; margin-top:5vw" >
      <span></span>
      
    </a>
  </form>
</div>

{% endblock %}







{% block css %}
<style>
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 2px;
    transition: transform .2s;
    margin: 0 auto;
  }
  .row {
    clear: both;
    display: table;
  }
  .xa {
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;

    text-transform: uppercase;
    margin: 20px;
  }
  .za {
    font-size: 2vw;
    font-family:cursive;
    text-transform: uppercase;
  }
  body {
  font-family: sans-serif;
  background:#75777c;

}

    .column:hover {
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.05); 
    }


  .footer-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }


  .footer-box a span {
    position: absolute;
    display: block;
  }

  .footer-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 2s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }

    
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 2vw;
  padding: 1vw;
  text-align: center;
  border:black;
  background-color: #e9e9e9;
}
.card:hover {
  box-shadow: 0 20px 60px 0 hsl(180, 100%, 50%);
}

.cardtop {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2vw;
  border:black;
  background-color: #e9e9e9;
}
.cardtop:hover {
  box-shadow: 0 20px 60px 0 hsl(180, 100%, 50%);
}

#navbar {
  overflow: hidden;
  background-color:whitesmoke
}

#navbar a {

  padding: 14px 16px;

}




.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}
.login-box {

  color:#00a8b1;
  padding: 5px;
  font-size: 2vw;


  border-radius: 10px;
}


  </style>
{% endblock %}
